.chooseTakeOff {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    font-family: "tintin";
}

.regularStyle {
    font-size: 62px;
    color: white;
    background-color: #7BBEE8;
    flex-grow: 1;
}

.acidStyle {
    font-size: 62px;
    animation: distort 400ms infinite;
    background-color: greenyellow;
    color: black;
    flex-grow: 1;
}

.information {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-family: "tintin";
    transform: none !important;
    width: 200px;
}

.counter {
    color: white;
}

.buttonTakeOff, .counter {
    font-family: "tintin";
}

.information .buttonTakeOff, .counter {
    color: white;

    background-color: rgba(0, 0, 0, 0.2);
    padding: 12px;
    border: 1px solid white;
    font-size: 24px;
}

.buttonTakeOff:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes distort {
    0% {
        text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
    }
    25% {
        text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
    }
    50% {
        text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
    }
    75% {
        text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
    }
    100% {
        text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
    }
}